<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ejs</title>
</head>

<body>

<%= a %>
<!-- ejs 的模版语法，读取变量 message | 是从 render 传递过来 -->

<% if(list){ %>
    <ul>
        <% for(var item in list){ %>
            <li>
                <%= list[item].a %>
            </li>
        <% } %>
    </ul>
<% } %>

</body>

</html>
